$border-radius: 1rem;
$transition: all 0.2s ease-in-out;
$shadow: 0 2px 20px rgba(137, 96, 53, 0.75);

$white-color: #FDFDFD;

$grey-color: #B3B3B3;

$yellow-color-extra-dark: #896035;
$yellow-color-dark: #F5D58E;
$yellow-color: #FFEAA6;
$yellow-color-light: #FFF2B5;
$yellow-color-extra-light: #FFF9C5;

$black-color: #171717;
// $black-color-dark: #010101;
// $black-color-light: #3D3D3D;

// $yellow-color-extra-dark: #F44336;

// $blue-color: #2775C3;
