.about-container {
    display: grid;
    grid-template: auto / 1fr 2fr;
    gap: 2rem;
    align-items: center;

    img {
        width: 100%;
        height: auto;
    }
}

#testimonials {
    h2 {
        margin-bottom: 2.5rem;
    } 
    
    .testimonials-container {
    
        .card {
            position: relative;
    
            i {
                position: absolute;
                top: -0.75rem;
                left: 0.75rem;
    
                svg {
                    width: auto;
                    height: 1.75rem;
                    border-radius: 0;
                }
            }
    
            p:last-of-type {
                line-height: 1;
                width: 100%;
            }
        }
    }
}
