<header id="header">
    <div class="container">
        <p id="nav-name">Pia Ferus-Comelo</p>
        <nav>
            <!-- TODO: stop using the divider in ul -->
            <ul class="navbar">
                <li><a href="/" class="nav-link">home</a></li>
                <span class="divider"></span>
                <li><a href="/about" class="nav-link">about</a></li>
                <span class="divider"></span>
                <li><a href="/contact" class="nav-link">contact</a></li>
            </ul>
        </nav>
    </div>
</header>