<!-- 
  Need the following variables:
  .img_jpg
  .class
  .alt
-->

{{ $img_jpg := .img_jpg }}

{{ $lqip_w := default "20x" }}
{{ $tiny_w := default "500x" }}
{{ $small_w := default "800x" }}
{{ $medium_w := default "1200x" }}
{{ $large_w := default "1500x" }}

{{ $lqip_jpg := $img_jpg.Resize $lqip_w }}
{{ $tiny_jpg := $img_jpg.Resize $tiny_w }}
{{ $small_jpg := $img_jpg.Resize $small_w }}
{{ $medium_jpg := $img_jpg.Resize $medium_w }}
{{ $large_jpg := $img_jpg.Resize $large_w }}

{{ $lqip_webp := $img_jpg.Resize (print $lqip_w " webp") }}
{{ $tiny_webp := $img_jpg.Resize (print $tiny_w " webp") }}
{{ $small_webp := $img_jpg.Resize (print $small_w " webp") }}
{{ $medium_webp := $img_jpg.Resize (print $medium_w " webp") }}
{{ $large_webp := $img_jpg.Resize (print $large_w " webp") }}

<picture>
  <source srcset='
    {{ if ge $img_jpg.Width "500" }}
      {{ with $tiny_webp.RelPermalink }} {{.}} 500w {{ end }},
    {{ end }}
    {{ if ge $img_jpg.Width "800" }}
      {{ with $small_webp.RelPermalink }} {{.}} 800w {{ end }},
    {{ end }}
    {{ if ge $img_jpg.Width "1200" }}
      {{ with $medium_webp.RelPermalink }} {{.}} 1200w {{ end }},
    {{ end }}
    {{ if ge $img_jpg.Width "1500" }}
      {{ with $large_webp.RelPermalink }} {{.}} 1500w {{ end }},
    {{ end }}
    {{ with $img_jpg }} {{ .RelPermalink }} {{ .Width }}w {{ end }},' type="image/webp">
  <source srcset='
    {{ if ge $img_jpg.Width "500" }}
      {{ with $tiny_jpg.RelPermalink }} {{.}} 500w {{ end }},
    {{ end }}
    {{ if ge $img_jpg.Width "800" }}
      {{ with $small_jpg.RelPermalink }} {{.}} 800w {{ end }},
    {{ end }}
    {{ if ge $img_jpg.Width "1200" }}
      {{ with $medium_jpg.RelPermalink }} {{.}} 1200w {{ end }},
    {{ end }}
    {{ if ge $img_jpg.Width "1500" }}
      {{ with $large_jpg.RelPermalink }} {{.}} 1500w {{ end }},
    {{ end }}
    {{ with $img_jpg }} {{ .RelPermalink }} {{ .Width }}w {{ end }},' type="image/jpeg">
  <img class="{{ .class }}" src="{{ $img_jpg.RelPermalink }}" alt="{{ .alt }}" loading="lazy"
    height="{{ with $img_jpg }} {{ .Height }} {{ end }}" width="{{ with $img_jpg }} {{ .Width }} {{ end }}">
</picture>